#menuLeft {
    border: 0;
    width: 200px;
}

    #menuLeft .panel-title {
        height: 20px;
        line-height: 20px;
        text-indent: 20px;
        font-size: 10pt;
    }

    #menuLeft .body, #menuLeft .bodySelected {
        margin-top: 10px;
        font-weight: bold;
        font-size: 10pt;
        text-indent: 50px;
        text-decoration: none;
        cursor: pointer;
        display: block;
    }

        #menuLeft .body:hover, #menuLeft .bodySelected:hover {
            text-decoration: underline;
        }

#menuTop {
    display: inline;
    right: 10px;
    top: 50px;
    position: absolute;
    z-index: 1;
}

    #menuTop li {
        float: right !important;
    }
